/***********All Pages************/
body {
    background-image:  url("../images/background.png.png"); 
    background-size: cover; 
    font-family: sans-serif;
    font-size: 16px;  
    color: white;  
}

header {   
    text-align: center;
    color: white;
    padding-bottom: 20px;   
}

h1 {
    font-size: 50px;
}

#logo1 {             
    position: relative;
    float: right;
    padding: 0;
    width: 600px;
}

h3 {
    text-align: center;
    color: steelblue; 
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;  
}

h4 {
    text-align: relative;
    margin-left: 100px;
    margin-right: 100px;
    color: steelblue;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

p {
    text-align: relative;
    margin-left: 100px;
    margin-right: 100px;
}

/*******Navigation********/
.nav {    
    font-size: 30px;
}

li.dd {
    font-size: 20px;
}

/*******Home Page******/
img {   
    padding: 30px;
}

/******About Page******/
img.computing {
    width: 100%;
    position: relative;
    float: center;
    padding: 30px;
}

/*******Info Page*******/
ul.a {
    list-style-type: circle;
    text-align: relative;
    margin-left: 100px;
    margin-right: 100px;
}


